<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Editar pelicula", edit_movie_path(@movie), class:"btn btn-primary" %>
  <%= link_to "Volver a peliculas ", movies_path, class:"btn btn-primary"%>
  <%= button_to "Borrar pelicula", @movie, method: :delete, class:"btn btn-primary" %>
</div>
