<!DOCTYPE html>
<html>
  <head>
    <title>MovieRental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  </head>

  <body>
   <header>
      <%= image_tag "banner.jpg", class: "banner" %>
    </header>
    <nav class="navbar navbar-expand-lg custom-bg-color">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav container">
            <%= link_to "Clientes", clients_path, class: "nav-link" %>
            <%= link_to "Peliculas", movies_path, class: "nav-link" %>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">© 2023 Tu Sitio Web. Todos los derechos reservados.</span>
      </div>
    </footer>
  </body>
</html>
